In [1]:
import numpy as np 
import pandas as pd

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')
data.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
data=data.iloc[:,2:]

In [5]:
data.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
# Train_test_split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data.iloc[:,0:2],data.iloc[:,-1],test_size=0.3)

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
X_train

     review education
42     Good        PG
38     Good    School
47     Good        PG
41     Good        PG
20  Average    School
6      Good    School
8   Average        UG
17     Poor        UG
48     Good        UG
22     Poor        PG
15     Poor        UG
35     Poor    School
31     Poor    School
28     Poor    School
9      Good        UG
30  Average        UG
21  Average        PG
14     Poor        PG
16     Poor        UG
33     Good        PG
11     Good        UG
27     Poor        PG
3      Good        PG
43     Poor        PG
25     Good    School
4   Average        UG
34  Average    School
36     Good        UG
10     Good        UG
2      Good        PG
1      Poor        UG
5   Average    School
46     Poor        PG
44  Average        UG
32  Average        UG

In [9]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [10]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
X_train=oe.transform(X_train)

In [12]:
X_train

array([[2., 2.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [1., 0.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 1.]])

In [13]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
le.fit(y_train)

LabelEncoder()

In [17]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [18]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [19]:
y_train

array([1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1])